/* App.css */

/* Estilos para el componente App */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px 0;
}

.App-header h1 {
  color: white;
}

.App-body {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no hay suficiente espacio */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  gap: 20px; /* Agrega un espacio entre las tarjetas */
}

/* Estilos para las tarjetas de Pokémon */
.Pokemon-card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.Pokemon-card h3 {
  margin-top: 0;
}

/* Estilos de color basados en el tipo de Pokémon */
.Pokemon-card.Grass {
  background-color: #9bcc50; /* Verde */
}

.Pokemon-card.Fire {
  background-color: #fd7d24; /* Naranja */
}

.Pokemon-card.Water {
  background-color: #4592c4; /* Azul */
}
