.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px 0;
}

.App-header h1 {
  color: white;
}

.App-body {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no hay suficiente espacio */
  justify-content: center; /* Centra las tarjetas horizontalmente */
}

/* Estilos para las tarjetas de Pokémon */
.pokemon-card {
  width: 200px;
  padding: 10px;
  text-align: center;
  border-radius: 7px;
}

.pokemon-card h3 {
  margin-top: 0;
}

/* Estilos de color basados en el tipo de Pokémon */
.pokemon-card.Grass {
  background-color: #9bcc50; /* Verde */
}

.pokemon-card.Fire {
  background-color: #fd7d24; /* Naranja */
}

.pokemon-card.Water {
  background-color: #4592c4; /* Azul */
}