.custom-input-container {
    display: flex;
    align-items: center;
    width: calc(100% - 20px); /* Restamos el padding del cuerpo del App */
    margin: 0 auto; /* Centramos horizontalmente */
}

.custom-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px 0 0 7px;
    background-color: white;
}

.custom-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 7px 7px 0;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #e6e6e6; /* Cambiamos el color de fondo al oscurecerse */
}
